In [2]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
dataset=pd.read_csv("data.csv")
dataset

           country   age    salary purchased
0            india  55.0  770000.0        no
1           mexico  65.0  780000.0       yes
2       bangladesh  34.0   34987.0       yes
3          america  67.0   66000.0        no
4  union territory  34.0       NaN       yes
5            spain  56.0   45000.0        no
6          germany   NaN  450980.0       yes
7           london  30.0  120000.0       yes

In [22]:
dataset.head()

           country   age    salary purchased
0            india  55.0  770000.0        no
1           mexico  65.0  780000.0       yes
2       bangladesh  34.0   34987.0       yes
3          america  67.0   66000.0        no
4  union territory  34.0       NaN       yes

divide the data into dependent and independent variables

In [31]:
#we save the independent feature in x
x=dataset.iloc[:,:-1].values #-1 indicates that we are taking all the columns except last one

In [32]:
#print x
x

array([['india', 55.0, 770000.0],
       ['mexico', 65.0, 780000.0],
       ['bangladesh', 34.0, 34987.0],
       ['america', 67.0, 66000.0],
       ['union territory', 34.0, nan],
       ['spain', 56.0, 45000.0],
       ['germany', nan, 450980.0],
       ['london', 30.0, 120000.0]], dtype=object)

In [34]:
y=dataset.iloc[:,3]
y

0     no
1    yes
2    yes
3     no
4    yes
5     no
6    yes
7    yes
Name: purchased, dtype: object

In [ ]:
#now how to handle missing data....

In [38]:
from sklearn.preprocessing import Imputer

In [40]:
imputer=Imputer(missing_values='NaN',strategy="mean")

C:\Users\RAM\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [43]:
imputer.fit(x[:,1:3])

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [45]:
(x[:,1:3])=imputer.transform(x[:,1:3])

In [46]:
x

array([['india', 55.0, 770000.0],
       ['mexico', 65.0, 780000.0],
       ['bangladesh', 34.0, 34987.0],
       ['america', 67.0, 66000.0],
       ['union territory', 34.0, 323852.4285714286],
       ['spain', 56.0, 45000.0],
       ['germany', 48.714285714285715, 450980.0],
       ['london', 30.0, 120000.0]], dtype=object)